<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Mine</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style/style.css" />
</head>

<nav class="navbar navbar-dark bg-black">


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tienda">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Contact</a>
        </li>
    </ul>

</nav>

<body>


    <div class="container">
        {{#each allProducts}}
        <div class="card" style="width: 25rem;">
            <img src="{{images.[0]}}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <p class="card-price">{{price}}$</p>
                <a href="/" class="btn btn-dark">Return to home</a>
            </div>
            {{/each}}
        </div>
    </div>


    <main>

        {{{body}}}

    </main>

    <!-- footer !-->
    <footer>

    </footer>

    <!-- Script bootstrap !-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>